<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-alipay' viewBox='0 0 16 16'%3E%3Cpath d='M2.541 0H13.5a2.55 2.55 0 0 1 2.54 2.563v8.297c-.006 0-.531-.046-2.978-.813-.412-.14-.916-.327-1.479-.536q-.456-.17-.957-.353a13 13 0 0 0 1.325-3.373H8.822V4.649h3.831v-.634h-3.83V2.121H7.26c-.274 0-.274.273-.274.273v1.621H3.11v.634h3.875v1.136h-3.2v.634H9.99c-.227.789-.532 1.53-.894 2.202-2.013-.67-4.161-1.212-5.51-.878-.864.214-1.42.597-1.746.998-1.499 1.84-.424 4.633 2.741 4.633 1.872 0 3.675-1.053 5.072-2.787 2.08 1.008 6.37 2.738 6.387 2.745v.105A2.55 2.55 0 0 1 13.5 16H2.541A2.55 2.55 0 0 1 0 13.437V2.563A2.55 2.55 0 0 1 2.541 0'/%3E%3Cpath d='M2.309 9.27c-1.22 1.073-.49 3.034 1.978 3.034 1.434 0 2.868-.925 3.994-2.406-1.602-.789-2.959-1.353-4.425-1.207-.397.04-1.14.217-1.547.58Z'/%3E%3C/svg%3E " type="image/x-icon" style="background-color: #fff;">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Ecom Master online/Collections</title>
    <style>
        body{
            background-image: url(/images/bgblurred.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }
        .btnlog{
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            margin: 24px -40px;
            justify-content: center;
            align-items: center;
        }
        .footer{
    background-color: rgb(61, 61, 63);
    text-decoration: none;
    color: #fff;
    
}
a{
    text-decoration: none;
}
.foot{
    margin-top: 5%;
    margin-bottom: 7%;
}
.footerpart{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row shadow p-3 mb-5 bg-white rounded">
            <div class="col">
                <div class="container">
                    <div class="col">
                        <h1>
                            <i class="bi bi-alipay"></i> Ecom Master
                        </h1>
                    </div>
                    <div class="col">
                        <h6>Enjoy the Embarking Collections of Brands Here</h6>
                    </div>    
                </div>    
            </div>
            
            <div class="col">
            <div class="container btnlog" >
                <div class="col"><a class="btn btn-primary " href="/home" role="button" style="width: 125%;" >
                    <i class="bi bi-house-check"></i> Home</a></div>
                
                <div class="col"><a class="btn btn-primary " href="/cart" role="button" style="width: 125%;">
                    <i class="bi bi-cart-check-fill"></i> Cart</a></div>
                <div class="col"><a class="btn btn-primary " href="/collections" role="button" style="width: 125%;">
                    <i class="bi bi-collection-fill"></i> Collections</a></div>
                <div class="col"><a class="btn btn-primary " href="/login" role="button" style="width: 125%;">
                    <i class="bi bi-box-arrow-in-right"></i> Login</a></div>
                <div class="col"><a class="btn btn-primary " href="/account" role="button" style="width: 125%;">
                    <i class="bi bi-person-fill-check"></i> Account</a></div></div>
            </div>
        </div>
    </div>
    <!-- 1st row code  -->
    </div>
        <div class="container">
            <div class="row card-group" style="gap: 2rem;">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71MYGLSCr0L._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title"><center>
                            <h1>Denim Wallet</h1>
                        </center></h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;599 <h5>50% Discount</h5></h5><h2>&#8377;299</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                            
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71Zy+qaX82L._AC_UY327_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h1 class="card-title">HP Pavillion</h1>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;79999 <h5>26% Discount</h5></h5><h2>&#8377;59999</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/61bK6PMOC3L._AC_UY327_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h1 class="card-title">IPhone 15 pro</h1>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;77990 <h5>36% Discount</h5></h5><h2>&#8377;49999</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Second row of items -->
    </div>
        <div class="container">
            <div class="row card-group" style="gap: 2rem;">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/61BHv1HCy9L._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Swiss Military</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;23,595<h5>34% Discount</h5></h5><h2>&#8377;15,665</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/613OBFrx+rL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Urban Jungle</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;999 <h5>40% Discount</h5></h5><h2>&#8377;599</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71gEUGyReJL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Provogue</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;3,300 <h5>78% Discount</h5></h5><h2>&#8377;714</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- 3rd row code -->
        <div class="container">
            <div class="row card-group" style="gap: 2rem;">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/61oUmU2ZZ-L._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Lymio</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;2,999 <h5>87% Discount</h5></h5><h2>&#8377;379</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/513ajs6pJPL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Leotude</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;1,099 <h5>73% Discount</h5></h5><h2>&#8377;297</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71V5gEc8YVL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">JVX</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;1,999 <h5>78% Discount</h5></h5><h2>&#8377;449</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4th row code  -->
    </div>
        <div class="container">
            <div class="row card-group" style="gap: 2rem;">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/61q0ZgCYoJL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Sonata</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;12,500 <h5>10% Discount</h5></h5><h2>&#8377;11,276</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/61TapeOXotL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Noise</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;2,995 <h5>5% Discount</h5></h5><h2>&#8377;2,845</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71myplH7CtL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Titan</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;4,000 <h5>25% Discount</h5></h5><h2>&#8377;2,999</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- 5th row -->
    </div>
        <div class="container">
            <div class="row card-group" style="gap: 2rem;">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://m.media-amazon.com/images/I/51aHhjFAJiL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">TAGDO</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;1,199 <h5>75% Discount</h5></h5><h2>&#8377;299</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/51iiHEwolAL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">AUSK</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;1,499 <h5>86% Discount</h5></h5><h2>&#8377;210</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71x4rLhMkML._SY879_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">SHODOX</h5>
                        <p class="card-text">
                            <div class="conatiner">
                                <div class="row">
                                    <table>
                                        <tr>
                                            
                                            <td>Price:<h5 style="text-decoration: line-through;">&#8377;999 <h5>71% Discount</h5></h5><h2>&#8377;289</h2></td>
                                            
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                                    <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 6th row -->
</div>
<div class="container">
    <div class="row card-group" style="gap: 2rem;">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/61uH0BMREQL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">DAFTER 35 L Bag</h5>
                <p class="card-text">
                    <div class="conatiner">
                        <div class="row">
                            <table>
                                <tr>
                                    
                                    <td>Price:<h5 style="text-decoration: line-through;">&#8377;399 <h5>38% Discount</h5></h5><h2>&#8377;249</h2></td>
                                    
                                </tr>   
                            </table>
                        </div>
                        <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                            <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/41e5EhzcQWL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">Craftwood School Backpack </h5>
                <p class="card-text">
                    <div class="conatiner">
                        <div class="row">
                            <table>
                                <tr>
                                    
                                    <td>Price:<h5 style="text-decoration: line-through;">&#8377;1,499 <h5>53% Discount</h5></h5><h2>&#8377;699</h2></td>
                                    
                                </tr>   
                            </table>
                        </div>
                        <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                            <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/81RtwUjQiFL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">Gear Vintage2 28L Medium</h5>
                <p class="card-text">
                    <div class="conatiner">
                        <div class="row">
                            <table>
                                <tr>
                                    
                                    <td>Price:<h5 style="text-decoration: line-through;">&#8377;2,199 <h5>55% Discount</h5></h5><h2>&#8377;990</h2></td>
                                    
                                </tr>   
                            </table>
                        </div>
                        <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                            <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  
        </div>
    </div>
</div>
</div>
<!-- 7th row -->
</div>
<div class="container">
    <div class="row card-group" style="gap: 2rem;">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71ALiLf3RVL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">Bersache</h5>
                <p class="card-text">
                    <div class="conatiner">
                        <div class="row">
                            <table>
                                <tr>
                                    
                                    <td>Price:<h5 style="text-decoration: line-through;">&#8377;4,999 <h5>74% Discount</h5></h5><h2>&#8377;1,299</h2></td>
                                    
                                </tr>   
                            </table>
                        </div>
                        <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                            <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/61bLe2eFyOL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">BRUTON</h5>
                <p class="card-text">
                    <div class="conatiner">
                        <div class="row">
                            <table>
                                <tr>
                                    
                                    <td>Price:<h5 style="text-decoration: line-through;">&#8377;1,299 <h5>79% Discount</h5></h5><h2>&#8377;279</h2></td>
                                    
                                </tr>   
                            </table>
                        </div>
                        <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                            <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top img-fluid" src="https://a.media-amazon.com/images/I/71P1nfX4QNL._AC_UL480_FMwebp_QL65_.jpg" alt="Card image cap" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">SPARX</h5>
                <p class="card-text">
                    <div class="conatiner">
                        <div class="row">
                            <table>
                                <tr>
                                    
                                    <td>Price:<h5 style="text-decoration: line-through;">&#8377;845 <h5>30% Discount</h5></h5><h2>&#8377;594</h2></td>
                                    
                                </tr>   
                            </table>
                        </div>
                        <div class="row" ><a class="btn btn-warning" href="/cart" role="button" style="width: 75%; ">
                            <h5><i class="bi bi-cart-check-fill"></i> Add to Cart</h5></a></div>
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  
                  
        </div>
    </div>
</div>
</div>

<div class="container-fluid footer">
    <div class="row">
     <div class="col"><a class="btn btn-secondary" href="/collections" role="button" style="width: 100%;" >
          <h6>Back to Top</h6></a></div>
    </div>
    <div class="row">
   <div class="row">
     <div class="col">&nbsp;</div>
     <div class="col">
         <div class="container foot">
             <div class="row">
                 <h4>Get to Know Us</h4>
             </div>
             <div class="row"><a style="color: #fff; "  href="#">About Us</a></div>
             <div class="row"><a style="color: #fff; "  href="#">Careers</a></div>
             <div class="row"><a style="color: #fff; "  href="#">Press Release</a></div>
             <div class="row"><a style="color: #fff; "  href="#">Ecom Master Science</a></div>
         </div>
     </div>
     <div class="col">
         <div class="container foot">
             <div class="row">
                 <h4>Connect with Us</h4>
             </div>
             <div class="row"><a style="color: #fff;"  href="#">Facebook</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Twitter</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Instagram</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Linkdin</a></div>
         </div>
     </div>
     <div class="col">
         <div class="container foot">
             <div class="row">
                 <h4>Make Money with Us</h4>
             </div>
             <div class="row"><a style="color: #fff;"  href="#">Sell on Ecom Master</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Sell under Ecom Master Accelerator</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Protect and Build Your Brand</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Ecom Master Global Selling</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Supply to Ecom Master</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Become an Affiliate</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Fulfilment by Ecom Master</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Advertise Your Products</a></div>
             <div class="row"><a style="color: #fff;"  href="#">Ecom Master Pay on Merchants</a></div>
         </div>
     </div>
     <div class="col">&nbsp;</div>
    
 </div>
 <hr>
 <div class="row footerpart">
     <div class="col">
         <h5 style="margin-left: 70%;">
             <i class="bi bi-alipay"></i> Ecom Master
         </h5>
     </div>
     <div class="col">
         <button type="button" class="btn btn-outline-secondary">
             <i class="bi bi-globe"></i> Language <i class="bi bi-caret-up-fill"></i></button>
         <button type="button" class="btn btn-outline-secondary">
                 <i class="bi bi-arrow-bar-right"></i> INDIA</button>
         </div>
     </div>
     <div class="col">
         
     </div>
 </div>
 <hr>
 <div class="row">
     <div class="container">
         <div class="row">
             <center><h6>Conditions of Use & Sale &nbsp; Privacy Notice &nbsp; Interest-Based Ads</h6></center>
         </div>
         <div class="row"><center>&copy; 2004-2024, Ecom-master.com, Inc. or its affiliates</center></div>
         <div class="row">&nbsp;</div>
     </div>
 </div>
 </div>
</body>
</html>