<html>
  <body>
    <center>
        <h1>Insert data</h1><hr>
      <form action="/deleterec" method="get">
        <table border="2">
          <tr>
            <td>Roll Number</td>
            <td><input type="text" name="grollno" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="delete" name="b1" /></td>
          </tr>
        </table>
      </form>
      <button><a href="/cart">Click Here to view cart</a></button>
    </center>
  </body>
</html>
